{% extends "network/layout.html" %}

{% block body %}

<div class="row">
    <div class="col">

        <h2>Register</h2>
        {% if message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <div>{{ message }}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="Username" class="form-label">Username</label>
                <input id="Username" type="text" class="form-control" name="username">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="text" class="form-control" name="email">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <div class="mb-3">
                <label for="confirmation" class="form-label">Retype Password</label>
                <input type="password" class="form-control" id="confirmation" name="confirmation">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload Profile Image</label>
                <input class="form-control" type="file" id="formFile" name="profile-image">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>

    </div>
</div>

{% endblock %}